 {% extends "base_cliente.html" %}
{% block title %}
Easy-buy | Car_ecommerce
{% endblock title %}
{% load static %}
{% block content %}
<div class="container">
	<br>
	<div class="card-header py-3">
        <h2 class="m-0 font-weight-bold text-primary">Productos agregados</h2>
    </div>
    <hr>
  
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
    <main class="col-md-9">
<div class="card">

<table class="table table-borderless table-shopping-cart">

<thead class="text-muted">
    {% if carritos != False %}
    
        
    
<tr class="small text-uppercase">
  <th scope="col">Producto</th>
  <th scope="col" width="120">Cantidad | Existencia</th>
  <th scope="col" width="135">Precio</th>
  <th scope="col" class="text-right" width="200"> </th>
</tr>
{% endif %}
</thead>
<tbody>
    {% for car in carritos %}
    {% for exi in existencias  %}
        
        {% ifequal car.producto.pk exi.producto.pk  %}
          
     

        
    
<tr>
    <td>
        <figure class="itemside">
            <div class="aside"><img src="{{car.producto.imagen_producto.url}}" class="img-sm"> <a href="{% url 'ecommerce_app:detalle_producto' car.producto.pk %}">ver </a></div>
            <figcaption class="info">
                <h7 class="title text-black m-2 bg-grey ">{{car.producto.nombre_producto}}</h7>
                <p class="text-muted small">{{car.producto.descripcion_producto}}</p>
            </figcaption>
        </figure>
    </td>
    <td> 
        <div class="price-wrap" align="center"> 
            <var class="price">{{car.cantidad|floatformat:"0"}} | {{exi.existencia}}</var> 
            
        </div> 
    </td>
    <td> 
        <div class="price-wrap"> 
            <var class="price  bg-light ">Lps. {{car.producto.precio}}</var> 
        </div> <!-- price-wrap .// -->
    </td>
    <td class="text-right"> 
    {# <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>  #}
    <a href="{% url 'ecommerce_app:Eliminar_producto_carrito' car.pk %}" class="btn btn-light text-danger bg-white"> Remover</a>
    </td>
</tr>
{% endifequal %}
    {% endfor %}
{% empty %}
<div class="alert  mt-3">
    <p class="icontext"><i class="icon text-success fa fa-store"></i> Aun no has agregado productos, que esperas!!.</p>
</div>
       
{% endfor %}

</tbody>
</table>

<div class="card-body border-top">
    {% if carrito_vacio == 1  %}

    <a href="{% url 'ecommerce_app:Detalle_Orden' %}" class="btn btn-primary float-md-right" > Ejecutar compra <i class="fa fa-chevron-right"></i> </a>
        
    {% endif %}
    <a href="{% url 'ecommerce_app:principal' %}" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continuar comprando </a>
</div>  
</div> <!-- card.// target="_blank" -->

<div class="alert alert-success mt-3">
    <p class="icontext"><i class="icon text-success fa fa-truck"></i> Actualmente no se esta contando con el servicio de envios</p>
</div>

    </main> <!---- Estructura para mostrar sudtotal, descuento ect-->
    <aside class="col-md-3">
    
        <div class="card">
            <div class="card-body">
                    <dl class="dlist-align">
                      <dt>Subtotal :</dt>
                      <dd class="text-right">Lps {{e}}</dd>
                    </dl>
                    <dl class="dlist-align">
                      <dt>Descuento :</dt>
                      <dd class="text-right">Lps {{g}}</dd>
                    </dl>
                    <dl class="dlist-align">
                      <dt>Total :</dt>
                      <dd class="text-right  h6"><strong>Lps {{total}}</strong></dd>
                    </dl>
                    <hr>
                    <p class="text-center mb-3">
                       <i class="fa fa-credit-card fa-3x" aria-hidden="true"></i>
                    </p>
                    
            </div> <!-- card-body.// -->
        </div>  <!-- card .// -->
    </aside> <!-- col.// -->
</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
    </div>
<br>
{% endblock content %}

{% block js %}
<script>
    
{% if carrito_vacio == 0 %}
Swal.fire({ position: 'center', icon: 'warning', title: 'No tiene productos agregados en el carrito', showConfirmButton: false, timer: 2000 })
{% endif %}
</script>
{% endblock js %}
