{% extends "base_cliente.html" %}
{% block title %}
Easy-buy | Producto
{% endblock title %}
{% load static %}
{% block content %}
<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'ecommerce_app:principal' %}">Inicio</a></li>
           
            <li class="breadcrumb-item"><a  href="{% url 'ecommerce_app:productos_categorias' productos.marca.subcategoria.categoria.pk %}">{{productos.marca.subcategoria.categoria.descripcion_categoria}}</a></li>
           
            <li class="breadcrumb-item"><a href="{% url 'ecommerce_app:productos_subcategoria' productos.marca.subcategoria.categoria.pk productos.marca.subcategoria.pk %}">{{productos.marca.subcategoria.descripcion_subcategoria}}</a></li>
            
            <li class="breadcrumb-item active" aria-current="page">{{productos.nombre_producto}}</li>
        </ol>
    </div>
</section>
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">
        <!-- ============================ ITEM DETAIL ======================== -->
        <div class="row">
            <aside class="col-md-6">
                <div class="card">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div> <a href="#"><img src="{{productos.imagen_producto.url}}"></a></a></div>
                        </div> <!-- slider-product.// -->
                        <div class="thumbs-wrap">
                            <a href="#" class="item-thumb"><img src="{{productos.imagen_producto.url}}"></a></a>
                            <a href="#" class="item-thumb"><img src="{{productos.imagen_producto.url}}"></a>
                            <a href="#" class="item-thumb"><img src="{{productos.imagen_producto.url}}"></a>
                            <a href="#" class="item-thumb"><img src="{{productos.imagen_producto.url}}"></a>
                        </div> <!-- slider-nav.// -->
                    </article> <!-- gallery-wrap .end// -->
                </div> <!-- card.// -->
            </aside>
            <main class="col-md-6">
                {% csrf_token %}
                <article class="product-info-aside">
                    <h2 class="title mt-3">{{productos.marca}}-{{productos.nombre_producto}}</h2>
                    <div class="rating-wrap my-3">
                        <ul class="rating-stars">
                            <li style="width:80%" class="stars-active">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                    </div> <!-- rating-wrap.// -->
                    <div class="mb-3">
                        <var class="price h4">L. {{productos.precio}}</var>
                    </div> <!-- price-detail-wrap .// -->
                    <p>{{productos.descripcion_producto}} </p>
                    <dl class="row">
                        <dt class="col-sm-3">Marca</dt>
                        <dd class="col-sm-9">{{productos.marca.descripcion_marca}}</dd>
                        <dt class="col-sm-3">Modelo</dt>
                        <dd class="col-sm-9">{{productos.modelo}}</dd>
                        <dt class="col-sm-3">Estado</dt>
                        {% if productos.nuevo_producto %}
                        <dd class="col-sm-9">Nuevo</dd>
                        {% else %}
                        <dd class="col-sm-9">Usado</dd>
                        {% endif %}
                        <dt class="col-sm-3">Disponibilidad</dt>
                         <dd class="col-sm-9" id="stock_id"></dd>
                    
                    </dl>
                    {% if request.user.is_authenticated %}
                        <form action="{% url 'ecommerce_app:carrito' %}" method="POST" accept-charset="utf-8" enctype="multipart/form-data" >
                        {% if errores.administrador %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h5><i class="icon fas fa-ban"></i> Error {{errores.cantidad_d}} </h5>
                        </div>
                        {% endif %}
                        {% csrf_token %}
                        <div class="form-row  mt-4">
                            <div class="form-group col-md flex-grow-0">
                                <div class="input-group mb-3 input-spinner">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-light" type="button" id="button-minus"> &minus; </button>
                                    </div>
                                    <input type="text" class="form-control" value="1" name="cantidad_d" id="cantidad" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" />
                                    {% if errores.cantidad_d %}
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <h5><i class="icon fas fa-ban"></i> Error {{errores.cantidad_d}} </h5>
                                    </div>
                                    {% endif %}
                                    <div class="input-group-append">
                                        <button class="btn btn-light" type="button" id="button-plus"> + </button>
                                    </div>
                                </div>
                            </div> <!-- col.// -->
                            <div class="form-group col-md">
                                {% if rx == 1 %}
                                    <button class="btn  btn-primary" type="submit" value="{{productos.pk}}" name="producto_id" id="id_producto"> <i class="fas fa-shopping-cart"></i><span class="text">Agregar</span> </button>
                                {% endif %}
                                
                    </form>
                    {% else %}
                    <button class="btn btn-primary sweet-2" onclick="User_Nologin();" value="{{productos.pk}}" name="producto_id" id="id_producto">Agregar</button>
                    {% endif %}
                    
        </div> <!-- col.// -->
    </div> <!-- row.// -->
    </article> <!-- product-info-aside .// -->
    </main> <!-- col.// -->
    </div> <!-- row.// -->
    <!-- ================ ITEM DETAIL END .// ================= -->
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y bg">
    <div class="container">
    
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}
{% block js %}
<script type="text/javascript">
function User_Nologin() {
 Swal.fire({
  icon: 'warning',
  title: 'Oops...<br><hr>',
  text: 'Debe iniciar sesión para agregar al carrito',
  footer: '<a href="{% url 'ecommerce_app:login' %}">Iniciar sesión</a>'
})
}

 var id_producto = $('#id_producto').val();
    $.ajax({
        type: "POST",
        url: "{% url 'ecommerce_app:ajax_existencia' %}",
        data: {
            'id_producto': id_producto,
            'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
        },
        success: function(json_data) {
            if(json_data.otra_variable){
                //Si entra aqui es que ese producto no tiene lote
                $('#id_producto').attr("disabled", true);
                $('#stock_id').html('<strong>Producto agotado</strong>')
                $("#stock_id").css("color","red");
            }else{
                var obj = JSON.parse(json_data);
                var exitencia_producto =parseInt(obj[0].fields.existencia)
                stock_id.value = parseInt(exitencia_producto);
                $('#stock_id').html('<dd class="col-sm-9">{{existencias.existencia}}</dd>')
            }
            
        }
    });

$("#cantidad").change(function() {
    
    // 
    var cantidad = $(this).val();
    var id_producto = $('#id_producto').val();
    $.ajax({
        type: "POST",
        url: "{% url 'ecommerce_app:ajax_existencia' %}",
        data: {
            'id_producto': id_producto,
            'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
        },
        success: function(json_data) {
            var obj = JSON.parse(json_data);
            var exitencia_producto =parseInt(obj[0].fields.existencia)
            alert(exitencia_producto)

           
              
              if (parseInt(cantidad) >= exitencia_producto) {
                $('#cantidad').val(exitencia_producto)
                Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'No hay tantos productos en el stock',
                showConfirmButton: false,
                timer: 2000
            })
              
              $("[name='producto_id']").click(function() {
                $(this).attr("disabled", "disabled");
            });
              } else {
                let timerInterval
                Swal.fire({
                    title: 'Cargando peticion!',
                    timer: 3000,
                    timerProgressBar: true,
                    willOpen: () => {
                        Swal.showLoading()
                        timerInterval = setInterval(() => {
                            const content = Swal.getContent()
                            if (content) {
                                const b = content.querySelector('b')
                                if (b) {
                                    b.textContent = Swal.getTimerLeft()
                                }
                            }
                        }, 100)
                    },
                    onClose: () => {
                        clearInterval(timerInterval)

                    }
                }).then((result) => {
                    /* Read more about handling dismissals below */
                    if (result.dismiss === Swal.DismissReason.timer) {
                        console.log('I was closed by the timer')
                    }
            })

             $(this).prop('disabled', false);
            alert(holi)
              }


            
            
        }
    });
});
// 

 
// 

</script>
{% endblock js %}