 {% extends "principal.html" %}
{% block title %}
e-commerce | Login
{% endblock title %}
{% load static %}
{% block content %}

<!-- ========================= Seccion de contenido ========================= -->
<section class="section-conten padding-y" style="min-height:60vh">

<!-- ============================ Inicio de login ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top: 20px;">
      <div class="card-body">
      <h4 class="card-title mb-4">Iniciar sesion</h4>
      <hr> 
          <center>
            <div style="color:#FF0000;"><strong>{{mensaje}}</strong>
            </div>
          </center>
            <hr>
      <form class="user" method="post">
        {% csrf_token %}
      	  <a href="#" class="btn btn-facebook btn-block mb-2"> <i class="fab fa-facebook-f"></i> &nbsp  Iniciar con Facebook</a>
          
      	  <a href="#" class="btn btn-google btn-block mb-4"> <i class="fab fa-google"></i> &nbsp  Iniciar con Google</a>
          <div class="form-group">
			 <input  class="form-control" placeholder="Username" type="text" name="username">
          </div> <!-- form-group// -->
          <div class="form-group">
			<input  class="form-control" placeholder="Password" type="password" name="pass">
          </div> <!-- form-group// -->
          
          <div class="form-group">
          	<a href="#" class="float-right">Forgot password?</a> 
            <label class="float-left custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> Recordar </div> </label>
          </div> <!-- form-group form-check .// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Ingresar  </button>
          </div> <!-- form-group// -->    
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">No tienenes cuenta? <a href="#">Crear</a></p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}

{% block js %}
{% endblock js %}
