 {% extends "base_cliente.html" %}
{% block title %}
Easy-buy | Login
{% endblock title %}
{% load static %}
{% block content %}

<!-- ========================= Seccion de contenido ========================= -->
<section class="section-conten padding-y alert alert-info" style="min-height:60vh">

<!-- ============================ Inicio de login ================================= -->
	<div class="card mx-auto " style="max-width: 400px; margin-top: 40px;">
      <div class="card-body">
      <center><h3 class="card-title mb-4">Iniciar sesión</h3></center>
      <hr> 
          <center>
            <div style="color:#FF0000;"><strong>{{mensaje}}</strong>
            </div>
          </center>
            <hr>
      <form class="user" method="POST">
        {% csrf_token %}

          <div class="form-group">
			 <input  class="form-control" placeholder="Usuario" type="text" name="username">
          </div> <!-- form-group// -->
          <div class="form-group">
			<input  class="form-control  " placeholder="Contraseña" type="password" name="pass">
          </div> <!-- form-group// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Ingresar  </button>
          </div> <!-- form-group// -->    
      </form>
      <hr>
      <div>
         <p class="text-center mt-4"><strong>¿No tiene cuenta?</strong><a href="{% url 'ecommerce_app:registro_cliente' %}"><strong> Crear</strong></a></p>
      </div>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->
    <br><br>

    
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}

{% block js %}

{% endblock js %}
