{% extends "base_cliente.html" %}
{% block title %}
Easy-buy | Productos
{% endblock title %}
{% load static %}
{% load bootstrap_pagination %}
{% block content %}

<section class="section-content padding-y">
<div class="container">
    <section class="py-3 bg-light">
    <div class=" mb-3">
        <div class="body">
            <ol class="breadcrumb float-left">
               <li class="breadcrumb-item"><a  href="{% url 'ecommerce_app:principal' %}"> Inicio</a></li> 
                {% if request.GET.busqueda %}
                <li class="breadcrumb-item"><a>Resultados de búsqueda para: '{{request.GET.busqueda}}'</a></li>
                {% else %}
                <li class="breadcrumb-item"><a  href="{% url 'ecommerce_app:productos_categorias' categoria.pk %}"> {{categoria.descripcion_categoria}}</a></li>
                {% endif %}
                {% if subcategoria %}
                <li class="breadcrumb-item"><a> {{subcategoria.descripcion_subcategoria}}</a></li>
                {% endif %}
            </ol>
        </div> <!-- card-body .// -->
    </div> <!-- card.// -->
</section>  <br>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<div class="row">
    <aside class="col-md-3">
     <article class="filter-group">
        <h6 class="title">
            <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_1">    Categorías </a>
        </h6>
        <div class="filter-content collapse show" id="collapse_1" style="">
            <div class="inner">
               <ul class="list-menu">
                {% for categoria in categorias  %}
                <aside class="col-lg col-md-3 flex-lg-grow-0">
                    <nav class="nav-home-aside">
                           <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse{{categoria.pk}}">{{categoria.descripcion_categoria}}</a>

                           <div id="collapse{{categoria.pk}}" class="collapse">
                                <a href="{% url 'ecommerce_app:productos_categorias' categoria.pk %}">Todo</a>
                                {% for subcategoria in subcategorias %}
                                {% ifequal subcategoria.categoria.pk categoria.pk  %} 
                                    <li><a href="{% url 'ecommerce_app:productos_subcategoria' categoria.pk subcategoria.pk %}" >{{subcategoria.descripcion_subcategoria}}</a></li>
                                {% endifequal %}
                                {% endfor %}
                            </div>
                           <hr>

                    </nav>
                </aside> <!-- col.// -->
                {% empty %}
                <h3>No hay categorias agregadas</h3>
                {% endfor %}
                </ul>
            </div> <!-- inner.// -->
        </div>
    </article> <!-- filter-group  .// -->

    </aside> <!-- col.// -->
    <main class="col-md-9">

<header class="border-bottom mb-4 pb-3">
        <div class="form-inline">
            <span class="mr-md-auto">{{productos|length}} Productos econtrados </span>
        </div>
</header><!-- sect-heading -->

<div class="row">
    {% for producto in productos  %}
    <div class="col-md-4">
        <figure class="card card-product-grid rounded-lg">
            <div class="img-wrap"> 
                <a  href="{% url 'ecommerce_app:detalle_producto' producto.pk %}" ><img src="{{producto.imagen_producto.url}}"></a>
            </div> <!-- img-wrap.// -->
            <figcaption class="info-wrap">
                <div class="fix-height">
                    <a href="{% url 'ecommerce_app:detalle_producto' producto.pk %}"  class="title">{{producto.nombre_producto}}</a>
                    <div class="price-wrap mt-2">
                        <span class="price">L. {{producto.precio}}0</span>
                    </div> <!-- price-wrap.// -->
                </div>
                <a href="{% url 'ecommerce_app:detalle_producto' producto.pk %}"  class="btn btn-block btn-primary">Ver </a>  
            </figcaption>
        </figure>
    </div> <!-- col.// -->
    {% empty %}
    <h4>Lo sentimos no encontramos lo que busca</h4>
    {% endfor %}
</div> <!-- row end.// -->


<hr>
{% bootstrap_paginate productos range=6 show_first_last="true" extra_pagination_classes="justify-content-left" %}


    </main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<br>
{% endblock content %}
{% block js %}
<script>

</script>
{% endblock js %}