{% extends "base_cliente.html" %}
{% block title %}
e-commerce | Admin
{% endblock title %}
{% load static %}
{% block content %}
<h1>{% if guardar_modificar %}REGISTRAR{% else %}MODIFICAR{% endif %} COLABORADOR</h1>
{% if guardar_modificar %}
<form action="{% url 'ecommerce_app:registro_cliente' %}" method="POST" enctype="multipart/form-data" id="id_form">
    {% else %}
    <form action="{% url 'ecommerce_app:modificar_normal' id_cliente %}" method="POST" enctype="multipart/form-data" id="id_form">
        {% endif %}
        {% csrf_token %}
        <div class="row">
            {% if errores.administrador %}
            <div class="alert alert-danger alert-dismissible " role="alert">
                <strong>ERROR! </strong>{{errores.administrador}}
                {% endif %}
                <div class="conteiner">
                  <div class="content">
                    <div class="card shadow mb-4">
                        <article class="card-body">
                            <header class="mb-4">
                                <h4 class="card-title">Registro Cliente</h4>
                            </header>
                            <form>
                                <div class="form-row">
                                    <div class="col-sm-4 form-group">
                                        <label>Identidad</label>
                                        <input type="text" class="form-control" id="identificacion" name="identificacion" placeholder="Número de Identidad" value="{{ret_data.num_identidad}}">
                                    </div> <!-- form-group end.// -->
                                    {% if errores.num_identidad %}
                                    <div class="alert alert-danger alert-dismissible " role="alert">
                                        <strong>ERROR! </strong>{{errores.num_identidad}}
                                    </div>
                                    {% endif %}
                                    <div class="col-sm-4 form-group">
                                        <label>Nombres</label>
                                        <input type="text" class="form-control" id="id_nombres" name="nombres" placeholder="Nombres" value="{{ret_data.nombres}}">
                                    </div> <!-- form-group end.// -->
                                    {% if errores.nombres %}
                                    <div class="alert alert-danger alert-dismissible " role="alert">
                                        <strong>ERROR! </strong>{{errores.nombres}}
                                    </div>
                                    {% endif %}
                                    <div class="col-sm-4 form-group">
                                        <label>Apellidos</label>
                                        <input type="text" class="form-control" id="id_apellidos" name="apellidos" placeholder="APELLIDOS" value="{{ret_data.apellidos}}">
                                    </div> <!-- form-group end.// -->
                                    {% if errores.apellidos %}
                                    <div class="alert alert-danger alert-dismissible " role="alert">
                                        <strong>ERROR! </strong>{{errores.apellidos}}
                                    </div>
                                    {% endif %}
                                </div> <!-- form-row end.// -->
                                <div class="form-row">
                                    <div class="col-sm-4 form-group">
                                        <label>Telefono</label>
                                        <input type="text" class="form-control" id="id_telefono" name="telefono" placeholder="TELEFONO" value="{{ret_data.numero_telefono}}">
                                    </div> <!-- form-group end.// -->
                                    {% if errores.numero_telefono %}
                                    <div class="alert alert-danger alert-dismissible " role="alert">
                                        <strong>ERROR! </strong>{{errores.numero_telefono}}
                                    </div>
                                    {% endif %}
                                    <div class="col-sm-4 form-group">
                                        <label>Correo</label>
                                        <input type="text" class="form-control" id="id_Correo" name="Correo" placeholder="CORREO" value="{{ret_data.correo}}">
                                    </div> <!-- form-group end.// -->
                                    {% if errores.correo %}
                                    <div class="alert alert-danger alert-dismissible " role="alert">
                                        <strong>ERROR! </strong>{{errores.correo}}
                                    </div>
                                    {% endif %}
                                    <div class="col-sm-4 form-group">
                                        <label>Género</label>
                                        <select name="genero" id="id_genero" class="form-control">
                                            {% for genero in generos %}
                                            {% ifequal genero.pk ret_data.genero %}
                                            <option value='{{genero.pk}}' selected>{{genero.descripcion_genero}}</option>
                                            {% else %}
                                            <option value='{{genero.pk}}'>{{genero.descripcion_genero}}</option>
                                            {% endifequal %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Fecha de nacimiento</label>
                                            <div class="input-group">
                                                <div class="input-group-txt">
                                                    <span class="input-group-text">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control float-right" id="id_fecha_nacimiento" name="fecha_nacimiento" value="{{ret_data.fecha_nacimiento|date:'Y-m-d'}}">
                                            </div>
                                            {% if errores.fecha_nacimiento %}
                                            <div class="alert alert-danger alert-dismissible " role="alert">
                                                <strong>ERROR! </strong>{{errores.fecha_nacimiento}}
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">IMAGEN: </label>
                                            <input type="file" name="imagen">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="col-sm-4 form-group" style="margin-left: auto; margin-right: auto;">
                                    <button type="submit" class="btn btn-primary btn-block"> Guardar </button>
                                </div> <!-- form-group// -->
                            </form>
                        </article> <!-- card-body end .// -->
                    </div> <!-- card.// -->
                </div>
                </div>

                {% endblock content %}
                {% block script %}
                <script type="text/javascript">
                $('#id_fecha_nacimiento').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    maxDate: '12/31/2020',
                    locale: {
                        format: 'YYYY-MM-DD'
                    }
                });
                </script>
                {% endblock script %}