 {% extends "base_cliente.html" %}
{% block title %}
e-commerce | Domicilio
{% endblock title %}
{% load static %}
{% block content %}

 <br>
<div class="container">
<section class="content">
<div class="card shadow mb-4">
<aside>
	<div class="card mb-4">
		<div class="card-header py-3">
                        <h5 class="m-0 font-weight-bold text-primary">Domicilio</h5>
                    </div>

	</div>
</aside>
</div>
</section>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}