{% extends "base_cliente.html" %}
{% block title %}
Easy-buy | Registro
{% endblock title %}
{% load static %}
{% block content %}
<br>
<div class="container">
    <section class="content">
        <div class="card shadow mb-4">
            <aside>
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-primary">Crear Cuenta</h5>
                </div>
                <form action="{% url 'ecommerce_app:registro_cliente' %}" method="POST" enctype="multipart/form-data"><!---  onsubmit="return Charger();"  ---->
                    {% csrf_token %}
                    <div class="row">
                        {% if errores.administrador %}
                        <div class="alert alert-danger alert-dismissible " role="alert">
                            <strong>ERROR! </strong>{{errores.administrador}}
                            {% endif %}
                            <article class="card-body">
                                <div class="form-row">
                                    <div class="col-sm-4 form-group">
                                        <label>Identidad</label>
                                        {% if errores.num_identidad %}
                                        <div class="alert alert-danger alert-dismissible " role="alert" style="font-size: 12px">
                                            <strong>ERROR! </strong>{{errores.num_identidad}}
                                        </div>
                                        {% endif %}
                                        <input type="text" class="form-control" id="identificacion" name="identificacion" placeholder="ejm .. 0601-1995-07789" value="{{ret_data.num_identidad}}">
                                    </div> <!-- form-group end.// -->
                                    <div class="col-sm-4 form-group">
                                        <label>Nombres</label>
                                        {% if errores.nombres %}
                                        <div class="alert alert-danger alert-dismissible " role="alert" style="font-size: 12px">
                                            <strong>ERROR! </strong>{{errores.nombres}}
                                        </div>
                                        {% endif %}
                                        <input type="text" class="form-control" id="id_nombres" name="nombres" placeholder="1ro y 2do nombre" value="{{ret_data.nombres}}">
                                    </div> <!-- form-group end.// -->
                                    <div class="col-sm-4 form-group">
                                        <label>Apellidos</label>
                                        {% if errores.apellidos %}
                                        <div class="alert alert-danger alert-dismissible " role="alert" style="font-size: 12px">
                                            <strong>ERROR! </strong>{{errores.apellidos}}
                                        </div>
                                        {% endif %}
                                        <input type="text" class="form-control" id="id_apellidos" name="apellidos" placeholder="Apellidos" value="{{ret_data.apellidos}}">
                                    </div> <!-- form-group end.// -->
                                </div> <!-- form-row end.// -->
                                <div class="form-row">
                                    <div class="col-sm-4 form-group">
                                        <label>Telefono</label>
                                        {% if errores.numero_telefono %}
                                        <div class="alert alert-danger alert-dismissible " role="alert" style="font-size: 12px">
                                            <strong>ERROR! </strong>{{errores.numero_telefono}}
                                        </div>
                                        {% endif %}
                                        <input type="text" class="form-control" id="id_telefono" name="telefono" placeholder="Telefono" value="{{ret_data.numero_telefono}}">
                                    </div> <!-- form-group end.// -->
                                    <div class="col-sm-4 form-group">
                                        <label>Correo</label>
                                        {% if errores.correo %}
                                        <div class="alert alert-danger alert-dismissible " role="alert" style="font-size: 12px">
                                            <strong>ERROR! </strong>{{errores.correo}}
                                        </div>
                                        {% endif %}
                                        <input type="text" class="form-control" id="id_Correo" name="Correo" placeholder="Email" value="{{ret_data.correo}}">
                                    </div> <!-- form-group end.// -->
                                    <div class="col-sm-4 form-group">
                                        <label>Género</label>
                                        <select class="form-control" style="width: 100%;" id="id_genero" name="genero">
                                            <option value="0">--Seleccione--</option>
                                            {% for genero in generos %}
                                            <option value='{{genero.pk}}'>{{genero.descripcion_genero}}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Fecha de nacimiento</label>
                                            {% if errores.fecha_nacimiento %}
                                            <div class="alert alert-danger alert-dismissible " role="alert" style="font-size: 12px">
                                                <strong>ERROR! </strong>{{errores.fecha_nacimiento}}
                                            </div>
                                            {% endif %}
                                            <div class="input-group">
                                                <div class="input-group-txt">
                                                    <span class="input-group-text">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                                <input type="date" class="form-control float-right" id="id_fecha_nacimiento" name="fecha_nacimiento" value="{{ret_data.fecha_nacimiento|date:'Y-m-d'}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Avatar: </label>
                                            {% if errores.imagen %}
                                            <div class="alert alert-danger alert-dismissible " role="alert" style="font-size: 12px">
                                                <strong>ERROR! </strong>{{errores.imagen}}
                                            </div>
                                            {% endif %}
                                            <input type="file" name="imagen">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Domicilio</label>
                                        {% if errores_domicilio.direccion %}
                                        <div class="alert alert-danger alert-dismissible " role="alert" style="font-size: 12px">
                                            <strong>ERROR! </strong>{{errores_domicilio.direccion}}
                                        </div>
                                        {% endif %}
                                        <textarea class="form-control" name="direccion" value="{{ret_data.direccion}}" id="id_direccion" rows="3"></textarea>
                                    </div>
                                </div>
                                <hr>
                                <div class="col-sm-4 form-group" style="margin-left: auto; margin-right: auto;">
                                    <button type="submit" class="btn btn-primary btn-block" id="guardar"> Guardar </button>
                                </div> <!-- form-group// -->
                            </article> <!-- card-body end .// -->
                </form>
<div class="row">
            <div class="col s12 m12">
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <div id="myProgress">
                            <div id="myBar">GUARDANDO...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                <!-- Inicio modal de carga-->
                <div class="modal fade" id="modal2">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <!-- Modal body -->
                            <div class="modal-body">
                                <div id="background"></div>
                                <div id="logocontainer" onclick=fill()>
                                    <div id="pelogo">e-commerce</div>
                                    <div class="loader" style="left:2vh; top:0; height:2vh; width:0; animation:slide1 1s linear forwards infinite"></div>
                                    <div class="loader" style="right:0; top:2vh; width:2vh; height:0; animation:slide2 1s linear forwards infinite; animation-delay:0.5s"></div>
                                    <div class="loader" style="right:2vh; bottom:0; height:2vh; width:0; animation:slide3 1s linear forwards infinite"></div>
                                    <div class="loader" style="left:0; bottom:2vh; width:2vh; height:0; animation:slide4 1s linear forwards infinite; animation-delay:0.5s"></div>
                                </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                {# <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button> #}
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fin modal de carga ---->
            </aside>
        </div>
    </section>
</div>
{% endblock content %}
{% block js %}
<script type="text/javascript">

// validaciones
{% if 'ok' in request.GET %}

Swal.fire({ position: 'center', icon: 'success', title: 'Usuario creado con éxito', showConfirmButton: false, timer: 2000 })
 {% endif %}

$('#guardar').click(function(e) {
    if ($('#id_genero').val() == 0) {
        Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: 'Debes seleccionar un genero!',
  
})
            return false;
        }
});

$('#id_fecha_nacimiento').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    maxDate: '12/31/2020',
    locale: {
        format: 'YYYY-MM-DD'
    }
});

var i = 0;

function Charger() {
    
     
    $('#modal1').modal('toggle');
    if (i == 0) {
        i = 1;
        var elem = document.getElementById("myBar");
        var width = 1;
        var id = setInterval(frame, 25);

        function frame() {
            if (width >= 100) {
                clearInterval(id);
                i = 0;
            } else {
                width++;
                elem.style.width = width + "%";
            }
        }
    }
    return false;
    }



</script>
{% endblock js %}
<style>

#myProgress {
     width: 100%;
      background-color: #ddd;
  }

  #myBar {
    width: 1%;
    height: 30px;
    background-color: #4CAF50;
  }
</style>
